<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Reg no:</strong>
    <%= organization.reg_no %>
  </p>

  <p>
    <strong>Tex:</strong>
    <%= organization.tex_id %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= organization.phone %>
  </p>

  <p>
    <strong>Address street 1:</strong>
    <%= organization.address_street_1 %>
  </p>

  <p>
    <strong>Address street 2:</strong>
    <%= organization.address_street_2 %>
  </p>

  <p>
    <strong>State:</strong>
    <%= organization.state %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= organization.postal_code %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= organization.email %>
  </p>

  <p>
    <strong>City:</strong>
    <%= organization.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= organization.country %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= organization.employee %>
  </p>

</div>
