<%= form_with(model: employment_status) do |form| %>
  <% if employment_status.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employment_status.errors.count, "error") %> prohibited this employment_status from being saved:</h2>

      <ul>
        <% employment_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :meta, style: "display: block" %>
    <%= form.text_area :meta %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
