<p style="color: green"><%= notice %></p>

<%= render @employment_status %>

<div>
  <%= link_to "Edit this employment status", edit_employment_status_path(@employment_status) %> |
  <%= link_to "Back to employment statuses", employment_statuses_path %>

  <%= button_to "Destroy this employment status", @employment_status, method: :delete %>
</div>
