<%= form_with(model: work_shif) do |form| %>
  <% if work_shif.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(work_shif.errors.count, "error") %> prohibited this work_shif from being saved:</h2>

      <ul>
        <% work_shif.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :from, style: "display: block" %>
    <%= form.date_field :from %>
  </div>

  <div>
    <%= form.label :to, style: "display: block" %>
    <%= form.date_field :to %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
