<div id="<%= dom_id employee %>">
  <p>
    <strong>F name:</strong>
    <%= employee.f_name %>
  </p>

  <p>
    <strong>L name:</strong>
    <%= employee.l_name %>
  </p>

  <p>
    <strong>N name:</strong>
    <%= employee.n_name %>
  </p>

  <p>
    <strong>E:</strong>
    <%= employee.e_id %>
  </p>

  <p>
    <strong>Marital status:</strong>
    <%= employee.marital_status %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee.gender %>
  </p>

  <p>
    <strong>Smoker:</strong>
    <%= employee.smoker %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= employee.dob %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= employee.nationality_id %>
  </p>

</div>
